* {
    box-sizing: border-box;
}

body,
html,
iframe,
.iframe-container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0
}

h2 {
    min-height: 2vh;
}

.toolbar {
    min-height: 2vh;
}

#editor {
    /*position: relative;*/
    min-height: 95vh;
    border: 1px red;
    border-radius: 5px;
    /*width: 50vw;*/
    overflow: hidden;
}

/*
.ast-container {
    min-height: 0%;
    overflow: scroll;
}
*/

.render {
    border: 1px green;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    min-height: 50%;
    min-height: 50vh;
    min-width: 0%;
    overflow: scroll;
}

#ast {
    font-family: monospace;
    white-space: pre;
    min-height: 0%;
    max-height: 50vh;
    min-width: 0%;
    max-width: 50vw;
    overflow: scroll;
}

.wrapper {
    background-color: #fff;
    color: #444;
    /* Use flexbox */
    display: flex;
}

.box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;

    /* Use box-sizing so that element's outerwidth will match width property */
    box-sizing: border-box;

    /* Allow box to grow and shrink, and ensure they are all equally sized */
    flex: 1 1 auto;
}

.handler {
    width: 20px;
    padding: 0;
    cursor: ew-resize;
    flex: 0 0 auto;
}

.handler::before {
    content: '';
    display: block;
    width: 4px;
    height: 100%;
    background: red;
    margin: 0 auto;
}